numpy
torch
pandas
tqdm
sklearn
transformers
datasets
# Need specific commit of matplotlib with a fix for emojis
package-name -e git+https://github.com/meeseeksmachine/matplotlib.git@08cb870e13dcb77bc697ac2811d0d7a16b2d0313
emoji